.main-competitions {
    display: flex;
    justify-content: center;
}

.main-competitions__wrapper {
    width: 960px;
    padding: 0 60px;
}

.main-competitions__table tr:hover td {
    background-color: gray;
}