@import '../css/variables.scss';

/* Header */

.header {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.header__wrapper {
    @media (min-width: $tablet-width) {
        margin: 0 auto;
        display: flex;
        width: $tablet-width;
    }
    @media (min-width: $desktop-width) {
        width: $desktop-width;
    }
}

/* Logo */

.header__logo {
    color: burlywood;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 0;
    @media (min-width: $tablet-width) {
        padding: 20px 30px;
    }
}

.header__navbar {
    min-width: 320px;
}

/* Navigation */

.navbar-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style-type: none;
    @media (min-width: $tablet-width) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.navbar-list__item{
    text-decoration: none;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 10px 0;
    
    &:hover,
    &.active {
        background-color: white;
        color: black;
    }

    @media (min-width: $tablet-width) {
        padding: 20px 30px;
    }
}